# Prática Independente de Pandas 1.

### 1. Introdução.

#### Diariamente, o Ministério da Saúde, por meio da Secretaria de Vigilância em Saúde (SVS/MS) divulga dados consolidados sobre o [COVID-19](https://covid.saude.gov.br/).

#### Importamos os pacotes a serem usados.

In [2]:
import pandas as pd
import numpy as np
from pandas import DataFrame
from random import sample

#### Importamos os dados a serem usados.

In [3]:
data = pd.read_excel('HIST_PAINEL_COVIDBR_20mai2020.xlsx')# lendo valores em excel

In [14]:
data.head(10)

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,obitosAcumulado,Recuperadosnovos,emAcompanhamentoNovos
0,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-26,9,210147125.0,1,0,NaN,NaN
1,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-27,9,210147125.0,1,0,NaN,NaN
2,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-28,9,210147125.0,1,0,NaN,NaN
3,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-29,9,210147125.0,2,0,NaN,NaN
4,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-03-01,10,210147125.0,2,0,NaN,NaN
5,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-03-02,10,210147125.0,2,0,NaN,NaN
6,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-03-03,10,210147125.0,2,0,NaN,NaN
7,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-03-04,10,210147125.0,3,0,NaN,NaN
8,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-03-05,10,210147125.0,7,0,NaN,NaN
9,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-03-06,10,210147125.0,13,0,NaN,NaN

#### Exercício 1.1: Faça um slice no dataframe para considerar apenas os dados do estado de São Paulo.

In [15]:
data_SP = data[data['estado'].str.contains('SP', na = False)]

In [32]:
data_SP.head(5)

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,obitosAcumulado,Recuperadosnovos,emAcompanhamentoNovos
1359,Sudeste,SP,NaN,35,NaN,NaN,NaN,2020-02-26,9,45919049.0,1,0,NaN,NaN
1360,Sudeste,SP,NaN,35,NaN,NaN,NaN,2020-02-27,9,45919049.0,1,0,NaN,NaN
1361,Sudeste,SP,NaN,35,NaN,NaN,NaN,2020-02-28,9,45919049.0,1,0,NaN,NaN
1362,Sudeste,SP,NaN,35,NaN,NaN,NaN,2020-02-29,9,45919049.0,2,0,NaN,NaN
1363,Sudeste,SP,NaN,35,NaN,NaN,NaN,2020-03-01,10,45919049.0,2,0,NaN,NaN

In [17]:
data_SP.shape # contagem das linhas e colunas

(14368, 14)

In [18]:
data_SP.count()

regiao                   14368
estado                   14368
municipio                14240
coduf                    14368
codmun                   14283
codRegiaoSaude           14240
nomeRegiaoSaude          14240
data                     14368
semanaEpi                14368
populacaoTCU2019         14325
casosAcumulado           14368
obitosAcumulado          14368
Recuperadosnovos             0
emAcompanhamentoNovos        0
dtype: int64

#### Exercício 1.2: Selecione também um dataset contendo apenas os dados para a capital de SP.

In [19]:
data_Mun_SP = data.set_index('municipio').filter(regex='São Paulo$', axis=0)

In [20]:
data_Mun_SP.head(15)

,regiao,estado,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,obitosAcumulado,Recuperadosnovos,emAcompanhamentoNovos
municipio,,,,,,,,,,,,,
São Paulo,Sudeste,SP,35,355030.0,35016.0,São Paulo,2020-03-28,13,12252023.0,1149,76,NaN,NaN
São Paulo,Sudeste,SP,35,355030.0,35016.0,São Paulo,2020-03-29,14,12252023.0,1183,89,NaN,NaN
São Paulo,Sudeste,SP,35,355030.0,35016.0,São Paulo,2020-03-30,14,12252023.0,1233,103,NaN,NaN
São Paulo,Sudeste,SP,35,355030.0,35016.0,São Paulo,2020-03-31,14,12252023.0,1885,121,NaN,NaN
São Paulo,Sudeste,SP,35,355030.0,35016.0,São Paulo,2020-04-01,14,12252023.0,2418,144,NaN,NaN
São Paulo,Sudeste,SP,35,355030.0,35016.0,São Paulo,2020-04-02,14,12252023.0,2815,164,NaN,NaN
São Paulo,Sudeste,SP,35,355030.0,35016.0,São Paulo,2020-04-03,14,12252023.0,3202,186,NaN,NaN
São Paulo,Sudeste,SP,35,355030.0,35016.0,São Paulo,2020-04-04,14,12252023.0,3496,212,NaN,NaN
São Paulo,Sudeste,SP,35,355030.0,35016.0,São Paulo,2020-04-05,15,12252023.0,3612,220,NaN,NaN
São Paulo,Sudeste,SP,35,355030.0,35016.0,São Paulo,2020-04-06,15,12252023.0,3754,244,NaN,NaN
São Paulo,Sudeste,SP,35,355030.0,35016.0,São Paulo,2020-04-07,15,12252023.0,4258,296,NaN,NaN
São Paulo,Sudeste,SP,35,355030.0,35016.0,São Paulo,2020-04-08,15,12252023.0,4946,339,NaN,NaN
São Paulo,Sudeste,SP,35,355030.0,35016.0,São Paulo,2020-04-09,15,12252023.0,5477,384,NaN,NaN
São Paulo,Sudeste,SP,35,355030.0,35016.0,São Paulo,2020-04-10,15,12252023.0,5982,409,NaN,NaN
São Paulo,Sudeste,SP,35,355030.0,35016.0,São Paulo,2020-04-11,15,12252023.0,6131,422,NaN,NaN

In [21]:
data_Mun_SP.max()

regiao                      Sudeste
estado                           SP
coduf                            35
codmun                       355030
codRegiaoSaude                35016
nomeRegiaoSaude           São Paulo
data                     2020-05-20
semanaEpi                        21
populacaoTCU2019         1.2252e+07
casosAcumulado                39466
obitosAcumulado                3135
Recuperadosnovos               None
emAcompanhamentoNovos          None
dtype: object

In [22]:
data_Mun_SP.shape

(54, 13)

### 2. Explorando o dataset.

#### Exercício 2.1. Quantas filas e quantas colunas o dataset tem?

In [23]:
data.shape

(95916, 14)

#### Exercício 2.2 Que informação o dataset tem? Imprima o nome das colunas.

In [24]:
data.columns

Index(['regiao', 'estado', 'municipio', 'coduf', 'codmun', 'codRegiaoSaude',
       'nomeRegiaoSaude', 'data', 'semanaEpi', 'populacaoTCU2019',
       'casosAcumulado', 'obitosAcumulado', 'Recuperadosnovos',
       'emAcompanhamentoNovos'],
      dtype='object')

#### Exercício 2.3: Como o dataset está indexado?

In [27]:
data.index

RangeIndex(start=0, stop=95916, step=1)

In [26]:
type(data)

pandas.core.frame.DataFrame

#### Exercício 2.4: Qual é o tipo da quarta coluna?

In [31]:
data['codmun'].dtypes

dtype('float64')

### 2.5: Qual e o municipio com maior numero de instancia no dataset?

In [30]:
data['municipio'].value_counts() #

Santa Luzia              128
Cruzeiro do Sul          124
Bom Jardim               111
São Domingos             109
Palmas                   101
                        ...
Japaraíba                  1
Júlio de Castilhos         1
Tamarana                   1
Bom Jesus do Araguaia      1
Serrania                   1
Name: municipio, Length: 3429, dtype: int64

In [136]:
data.describe()

,coduf,codmun,codRegiaoSaude,semanaEpi,populacaoTCU2019,casosAcumulado,obitosAcumulado,Recuperadosnovos,emAcompanhamentoNovos
count,95916.000000,93989.000000,93451.000000,95916.000000,9.537800e+04,95916.000000,95916.000000,32.000000,32.000000
mean,31.347909,314808.929853,31363.957111,18.413153,4.380239e+05,142.412330,9.473195,54396.062500,67288.625000
std,9.782760,96568.260882,9635.685321,1.993090,6.521290e+06,2966.066262,205.424843,27457.868951,43003.414566
min,11.000000,110000.000000,11001.000000,9.000000,1.112000e+03,1.000000,0.000000,22130.000000,14062.000000
25%,24.000000,241025.000000,24006.000000,17.000000,1.300000e+04,1.000000,0.000000,30894.500000,29994.750000
50%,31.000000,314520.000000,31051.000000,19.000000,2.777800e+04,3.000000,0.000000,46703.500000,56923.000000
75%,41.000000,410170.000000,41002.000000,20.000000,7.008400e+04,13.000000,1.000000,74053.750000,93795.250000
max,76.000000,530010.000000,53001.000000,21.000000,2.101471e+08,291579.000000,18859.000000,116683.000000,156037.000000

#### Exercício 2.6: Como os nomes das regiões de saúde estão distribuídos no dataset?

In [35]:
data['codRegiaoSaude'].keys

<bound method Series.keys of 0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
          ...
95911    53001.0
95912    53001.0
95913    53001.0
95914    53001.0
95915    53001.0
Name: codRegiaoSaude, Length: 95916, dtype: float64>

In [138]:
data['codRegiaoSaude'].values

array([   nan,    nan,    nan, ..., 53001., 53001., 53001.])

#### Exercício 2.7: Qual é o número de casos acumulados na capital de SP, no dia 2020-03-31?

In [37]:
data_acumulado_SP = data_Mun_SP[data_Mun_SP['data'].str.contains('2020-03-31', na = False)]
data_acumulado_SP

,regiao,estado,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,obitosAcumulado,Recuperadosnovos,emAcompanhamentoNovos
municipio,,,,,,,,,,,,,
São Paulo,Sudeste,SP,35,355030.0,35016.0,São Paulo,2020-03-31,14,12252023.0,1885,121,NaN,NaN

#### Exercício 2.8: Qual é o número total de casos acumulados para todas as cidades do estado de SP, no dia 2020-03-31?

In [140]:
data_acumulado_Estado = data_SP[data_SP['data'].str.contains('2020-03-31', na = False)]
data_acumulado_Estado

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,obitosAcumulado,Recuperadosnovos,emAcompanhamentoNovos
1393,Sudeste,SP,NaN,35,NaN,NaN,NaN,2020-03-31,14,45919049.0,2339,136,NaN,NaN
57843,Sudeste,SP,NaN,35,350000.0,NaN,NaN,2020-03-31,14,NaN,53,1,NaN,NaN
58251,Sudeste,SP,Americana,35,350160.0,35072.0,Região Metropolitana de Campinas,2020-03-31,14,239597.0,2,0,NaN,NaN
58600,Sudeste,SP,Araçatuba,35,350280.0,35021.0,Central do DRS II,2020-03-31,14,197016.0,1,0,NaN,NaN
58918,Sudeste,SP,Arujá,35,350390.0,35011.0,Alto do Tietê,2020-03-31,14,89824.0,2,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71661,Sudeste,SP,Valinhos,35,355620.0,35072.0,Região Metropolitana de Campinas,2020-03-31,14,129193.0,1,0,NaN,NaN
71769,Sudeste,SP,Vargem Grande Paulista,35,355645.0,35013.0,Mananciais,2020-03-31,14,52597.0,2,1,NaN,NaN
71857,Sudeste,SP,Vinhedo,35,355670.0,35072.0,Região Metropolitana de Campinas,2020-03-31,14,78728.0,1,0,NaN,NaN
71951,Sudeste,SP,Votorantim,35,355700.0,35163.0,Sorocaba,2020-03-31,14,122480.0,1,0,NaN,NaN
72002,Sudeste,SP,Votuporanga,35,355710.0,35157.0,Votuporanga,2020-03-31,14,94547.0,1,0,NaN,NaN

In [142]:
data_acumulado_Estado.sum()

regiao                   SudesteSudesteSudesteSudesteSudesteSudesteSude...
estado                   SPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSP...
coduf                                                                 2450
codmun                                                          2.4372e+07
codRegiaoSaude                                                 2.38418e+06
data                     2020-03-312020-03-312020-03-312020-03-312020-0...
semanaEpi                                                              980
populacaoTCU2019                                               7.60734e+07
casosAcumulado                                                        4678
obitosAcumulado                                                        272
Recuperadosnovos                                                         0
emAcompanhamentoNovos                                                    0
dtype: object

#### Exercício 2.9: Qual é o valor médio de "semanaEpi"  durante todo o período?

In [40]:
data['semanaEpi'].mean()

18.4131531756954

In [41]:
data_SP['semanaEpi'].mean()

18.316327951002226

### 3. Indexando e organizando os dados.

#### Exercício 3.1:  Selecionar  valores não duplicados para as coluna 'municipio','coduf', 'codmun', 'codRegiaoSaude' e atribuí-las a um objeto novo chamado 'covid19SPMunicipios'.

In [91]:
covid19SPMunicipios = data[['municipio','coduf', 'codmun', 'codRegiaoSaude']]
covid19SPMunicipios.head(20)

   municipio  coduf  codmun  codRegiaoSaude
0        NaN     76     NaN             NaN
1        NaN     76     NaN             NaN
2        NaN     76     NaN             NaN
3        NaN     76     NaN             NaN
4        NaN     76     NaN             NaN
5        NaN     76     NaN             NaN
6        NaN     76     NaN             NaN
7        NaN     76     NaN             NaN
8        NaN     76     NaN             NaN
9        NaN     76     NaN             NaN
10       NaN     76     NaN             NaN
11       NaN     76     NaN             NaN
12       NaN     76     NaN             NaN
13       NaN     76     NaN             NaN
14       NaN     76     NaN             NaN
15       NaN     76     NaN             NaN
16       NaN     76     NaN             NaN
17       NaN     76     NaN             NaN
18       NaN     76     NaN             NaN
19       NaN     76     NaN             NaN

In [92]:
covid19SPMunicipios.duplicated().head(20)

0     False
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
dtype: bool

In [144]:
covid19SPMunicipios.isnull().sum()# dados faltando - NAN

municipio         2465
coduf                0
codmun            1927
codRegiaoSaude    2465
dtype: int64

In [103]:
covid19SPMunicipios_1 = covid19SPMunicipios.drop_duplicates(subset=['municipio','coduf', 'codmun', 'codRegiaoSaude'], keep=False)

In [104]:
covid19SPMunicipios_1

                        municipio  coduf    codmun  codRegiaoSaude
2724                 Seringueiras     11  110150.0         11007.0
10241                    Arapoema     17  170230.0         17004.0
10349               Campos Lindos     17  170384.0         17001.0
10867                     Colméia     17  171670.0         17004.0
10985  São Sebastião do Tocantins     17  172030.0         17002.0
...                           ...    ...       ...             ...
94726                     Jussara     52  521220.0         52012.0
94727         Leopoldo de Bulhões     52  521230.0         52002.0
95221                 Pirenópolis     52  521730.0         52011.0
95398                  Rianápolis     52  521870.0         52013.0
95763                      Urutaí     52  522180.0         52005.0

[128 rows x 4 columns]

In [105]:
covid19SPMunicipios_1.count()

municipio         126
coduf             128
codmun            128
codRegiaoSaude    126
dtype: int64

In [107]:
len(covid19SPMunicipios_1)

128

#### Exercício 3.2:  Selecionar as primeiras 20 filas de 'covid19SPMunicipios'

In [108]:
covid19SPMunicipios_1.head(20)

                        municipio  coduf    codmun  codRegiaoSaude
2724                 Seringueiras     11  110150.0         11007.0
10241                    Arapoema     17  170230.0         17004.0
10349               Campos Lindos     17  170384.0         17001.0
10867                     Colméia     17  171670.0         17004.0
10985  São Sebastião do Tocantins     17  172030.0         17002.0
10986                 São Valério     17  172049.0         17005.0
11079                  Tocantínia     17  172110.0         17006.0
11199                Afonso Cunha     21  210010.0         21005.0
13529                   Parnarama     21  210780.0         21017.0
14641               Tasso Fragoso     21  211200.0         21003.0
15048                         NaN     22  220000.0             NaN
15300              Belém do Piauí     22  220157.0         22009.0
15499         Cabeceiras do Piauí     22  220205.0         22001.0
15578           Capitão de Campos     22  220240.0         22003.0
15757                    Curimatá     22  220320.0         22002.0
15758                     Currais     22  220323.0         22002.0
15999               Hugo Napoleão     22  220460.0         22004.0
16102                      Jaicós     22  220520.0         22009.0
16129           Juazeiro do Piauí     22  220551.0         22001.0
16434  Nossa Senhora dos Remédios     22  220680.0         22003.0

#### Exercício 3.3:  Selecionar uma amostra aleatória de 100 filas de 'covid19SPMunicipios'

In [109]:
amostra = covid19SPMunicipios_1.sample(n=100)
amostra

                 municipio  coduf    codmun  codRegiaoSaude
28775                 Sumé     25  251630.0         25005.0
46345       Frei Inocêncio     31  312690.0         31024.0
50035       Rio Piracicaba     31  315570.0         31035.0
94727  Leopoldo de Bulhões     52  521230.0         52002.0
51568                 Ubaí     31  317000.0         31011.0
...                    ...    ...       ...             ...
93498                Aporé     52  520150.0         52016.0
50117      Salto da Divisa     31  315710.0         31004.0
54070           Vila Pavão     32  320515.0         32003.0
47787        Lagoa Dourada     31  313740.0         31063.0
16129    Juazeiro do Piauí     22  220551.0         22001.0

[100 rows x 4 columns]

#### Exercício 3.4: Escolher todas as colunas, exceto 'coduf'. Utilize a propriedade columns para filtrar na dimensão das colunas.

In [153]:
pd.DataFrame(covid19SPMunicipios_1, columns = ['municipio',  'codmun', 'codRegiaoSaude'])

                        municipio    codmun  codRegiaoSaude
2724                 Seringueiras  110150.0         11007.0
10241                    Arapoema  170230.0         17004.0
10349               Campos Lindos  170384.0         17001.0
10867                     Colméia  171670.0         17004.0
10985  São Sebastião do Tocantins  172030.0         17002.0
...                           ...       ...             ...
94726                     Jussara  521220.0         52012.0
94727         Leopoldo de Bulhões  521230.0         52002.0
95221                 Pirenópolis  521730.0         52011.0
95398                  Rianápolis  521870.0         52013.0
95763                      Urutaí  522180.0         52005.0

[128 rows x 3 columns]

In [111]:
 filtro_Sem_coduf= covid19SPMunicipios_1[['municipio', 'codmun', 'codRegiaoSaude']]
 filtro_Sem_coduf.head(5)

                        municipio    codmun  codRegiaoSaude
2724                 Seringueiras  110150.0         11007.0
10241                    Arapoema  170230.0         17004.0
10349               Campos Lindos  170384.0         17001.0
10867                     Colméia  171670.0         17004.0
10985  São Sebastião do Tocantins  172030.0         17002.0

In [112]:
filtro_Sem_coduf.columns

Index(['municipio', 'codmun', 'codRegiaoSaude'], dtype='object')

In [117]:
filtro_Sem_coduf.values

array([['Seringueiras', 110150.0, 11007.0],
       ['Arapoema', 170230.0, 17004.0],
       ['Campos Lindos', 170384.0, 17001.0],
       ['Colméia', 171670.0, 17004.0],
       ['São Sebastião do Tocantins', 172030.0, 17002.0],
       ['São Valério', 172049.0, 17005.0],
       ['Tocantínia', 172110.0, 17006.0],
       ['Afonso Cunha', 210010.0, 21005.0],
       ['Parnarama', 210780.0, 21017.0],
       ['Tasso Fragoso', 211200.0, 21003.0],
       [nan, 220000.0, nan],
       ['Belém do Piauí', 220157.0, 22009.0],
       ['Cabeceiras do Piauí', 220205.0, 22001.0],
       ['Capitão de Campos', 220240.0, 22003.0],
       ['Curimatá', 220320.0, 22002.0],
       ['Currais', 220323.0, 22002.0],
       ['Hugo Napoleão', 220460.0, 22004.0],
       ['Jaicós', 220520.0, 22009.0],
       ['Juazeiro do Piauí', 220551.0, 22001.0],
       ['Nossa Senhora dos Remédios', 220680.0, 22003.0],
       ['Paulistana', 220780.0, 22009.0],
       ['São João da Fronteira', 220987.0, 22003.0],
       ['Baixio', 230180.0, 23017.0],
       ['Ipueira', 240480.0, 24004.0],
       ['Patu', 240930.0, 24006.0],
       ['São Fernando', 241180.0, 24004.0],
       ['Aparecida', 250077.0, 25010.0],
       ['Fagundes', 250610.0, 25016.0],
       ['Gurjão', 250650.0, 25005.0],
       ['Lagoa', 250810.0, 25013.0],
       ['Manaíra', 250900.0, 25011.0],
       ['Mato Grosso', 250937.0, 25008.0],
       ['São João do Tigre', 251410.0, 25005.0],
       ['Sumé', 251630.0, 25005.0],
       ['Vieirópolis', 251720.0, 25010.0],
       ['Manari', 260915.0, 26002.0],
       ['Santa Cruz da Baixa Verde', 261247.0, 26012.0],
       ['Feliz Deserto', 270270.0, 27006.0],
       ['Girau do Ponciano', 270290.0, 27007.0],
       ['Canhoba', 280110.0, 28007.0],
       ['Neópolis', 280440.0, 28007.0],
       ['Telha', 280730.0, 28007.0],
       ['Cabaceiras do Paraguaçu', 290485.0, 29005.0],
       ['Guanambi', 291170.0, 29007.0],
       ['Itamari', 291570.0, 29015.0],
       ['Jaguaripe', 291780.0, 29022.0],
       ['Lajedão', 291900.0, 29011.0],
       ['Lapão', 291915.0, 29010.0],
       ['Santa Inês', 292790.0, 29015.0],
       ['Serrolândia', 293060.0, 29014.0],
       ['Wenceslau Guimarães', 293350.0, 29027.0],
       ['Águas Vermelhas', 310100.0, 31053.0],
       ['Cipotânea', 311630.0, 31007.0],
       ['Divino das Laranjeiras', 312210.0, 31042.0],
       ['Engenheiro Caldas', 312370.0, 31024.0],
       ['Frei Inocêncio', 312690.0, 31024.0],
       ['Japaraíba', 313530.0, 31020.0],
       ['Joaíma', 313600.0, 31004.0],
       ['Lagoa Dourada', 313740.0, 31063.0],
       ['Manhumirim', 313950.0, 31041.0],
       ['Matipó', 314090.0, 31041.0],
       ["Olhos d'Água", 314545.0, 31044.0],
       ['Raul Soares', 315400.0, 31056.0],
       ['Rio Piracicaba', 315570.0, 31035.0],
       ['Salto da Divisa', 315710.0, 31004.0],
       ['São Domingos do Prata', 316100.0, 31035.0],
       ['São Sebastião do Anta', 316447.0, 31013.0],
       ['Serrania', 316690.0, 31003.0],
       ['Serro', 316710.0, 31019.0],
       ['Ubaí', 317000.0, 31011.0],
       ['Mathias Lobato', 317150.0, 31024.0],
       ['Alto Rio Novo', 320035.0, 32001.0],
       ['Vila Pavão', 320515.0, 32003.0],
       ['Ariranha', 350370.0, 35151.0],
       ['Bálsamo', 350480.0, 35155.0],
       ['Barão de Antonina', 350500.0, 35061.0],
       ['Boa Esperança do Sul', 350670.0, 35031.0],
       ['Pardinho', 353610.0, 35063.0],
       ['Pontes Gestal', 354030.0, 35157.0],
       ['Quadra', 354165.0, 35161.0],
       ['Santópolis do Aguapeí', 354840.0, 35023.0],
       ['Taiúva', 355320.0, 35052.0],
       ['Três Fronteiras', 355490.0, 35152.0],
       ['Braganey', 410335.0, 41010.0],
       ['Cafelândia', 410345.0, 41010.0],
       ['Carambeí', 410465.0, 41003.0],
       ['Diamante do Sul', 410712.0, 41010.0],
       ['Luiziana', 411373.0, 41011.0],
       ['Pitanga', 411960.0, 41005.0],
       ['Tamarana', 412667.0, 41017.0],
       ['Lauro Muller', 420960.0, 42015.0],
       ['São João Batista', 421630.0, 42007.0],
       ['Serra Alta', 421755.0, 42002.0],
       [nan, 430000.0, nan],
       ['Benjamin Constant do Sul', 430205.0, 43016.0],
       ['Boa Vista das Missões', 430215.0, 43020.0],
       ['Bom Progresso', 430237.0, 43015.0],
       ['Entre Rios do Sul', 430695.0, 43016.0],
       ['Gaurama', 430870.0, 43016.0],
       ['Gentil', 430885.0, 43017.0],
       ['Júlio de Castilhos', 431120.0, 43001.0],
       ['Maquiné', 431177.0, 43004.0],
       ['Mariano Moro', 431200.0, 43016.0],
       ['Mato Leitão', 431215.0, 43028.0],
       ['Miraguaí', 431230.0, 43020.0],
       ['Morrinhos do Sul', 431244.0, 43004.0],
       ['Nova Petrópolis', 431320.0, 43023.0],
       ['Nova Santa Rita', 431337.0, 43008.0],
       ['Novo Xingu', 431346.0, 43020.0],
       ['Porto Mauá', 431505.0, 43014.0],
       ['Rio dos Índios', 431555.0, 43016.0],
       ['Salto do Jacuí', 431645.0, 43012.0],
       ['Seberi', 432020.0, 43015.0],
       ['Vila Nova do Sul', 432345.0, 43001.0],
       ['Bodoquena', 500215.0, 50001.0],
       ['Bom Jesus do Araguaia', 510185.0, 51006.0],
       ['Novo Mundo', 510626.0, 51015.0],
       ['Ribeirão Cascalheira', 510718.0, 51006.0],
       ['Alto Paraíso de Goiás', 520060.0, 52003.0],
       ['Aporé', 520150.0, 52016.0],
       ['Bom Jardim de Goiás', 520340.0, 52009.0],
       ['Castelândia', 520505.0, 52015.0],
       ['Iaciara', 520990.0, 52007.0],
       ['Jussara', 521220.0, 52012.0],
       ['Leopoldo de Bulhões', 521230.0, 52002.0],
       ['Pirenópolis', 521730.0, 52011.0],
       ['Rianápolis', 521870.0, 52013.0],
       ['Urutaí', 522180.0, 52005.0]], dtype=object)

#### Exercício 3.5: Organizar o dataset dos municípios segundo a população, de forma decrescente.

In [121]:
populacao= data[['municipio', 'populacaoTCU2019']].sort_index( ascending=False)

In [125]:
populacao

      municipio  populacaoTCU2019
95915  Brasília         3015268.0
95914  Brasília         3015268.0
95913  Brasília         3015268.0
95912  Brasília         3015268.0
95911  Brasília         3015268.0
...         ...               ...
4           NaN       210147125.0
3           NaN       210147125.0
2           NaN       210147125.0
1           NaN       210147125.0
0           NaN       210147125.0

[95916 rows x 2 columns]

In [126]:
data_Mun_SP[['estado','populacaoTCU2019']].sort_index(ascending=False).head()

          estado  populacaoTCU2019
municipio
São Paulo     SP        12252023.0
São Paulo     SP        12252023.0
São Paulo     SP        12252023.0
São Paulo     SP        12252023.0
São Paulo     SP        12252023.0

#### Exercício 3.6: Qual é a população média da população dos municípios, despois de excluirmos aqueles cujas populações são menores que 10000000 e maiores que 500000 habitantes?

In [127]:
data[['municipio','estado', 'populacaoTCU2019']].loc[(data['populacaoTCU2019']>=500000) & (data['populacaoTCU2019']<=10000000)]

      municipio estado  populacaoTCU2019
85          NaN     RO         1777225.0
86          NaN     RO         1777225.0
87          NaN     RO         1777225.0
88          NaN     RO         1777225.0
89          NaN     RO         1777225.0
...         ...    ...               ...
95911  Brasília     DF         3015268.0
95912  Brasília     DF         3015268.0
95913  Brasília     DF         3015268.0
95914  Brasília     DF         3015268.0
95915  Brasília     DF         3015268.0

[3926 rows x 3 columns]

In [78]:
media_populacao

      municipio estado  populacaoTCU2019
85          NaN     RO         1777225.0
86          NaN     RO         1777225.0
87          NaN     RO         1777225.0
88          NaN     RO         1777225.0
89          NaN     RO         1777225.0
...         ...    ...               ...
95911  Brasília     DF         3015268.0
95912  Brasília     DF         3015268.0
95913  Brasília     DF         3015268.0
95914  Brasília     DF         3015268.0
95915  Brasília     DF         3015268.0

[3926 rows x 3 columns]

In [128]:
data['populacaoTCU2019'].mean()

438023.8553544843

In [129]:
data['populacaoTCU2019'].median()

27778.0

In [130]:
data['populacaoTCU2019'].sum()

41777839276.0

In [87]:
data['populacaoTCU2019'].max()

210147125.0

In [88]:
data['populacaoTCU2019'].min()

1112.0

In [131]:
data['populacaoTCU2019'].std()

6521290.360780182

In [90]:
data.groupby(by='regiao').size() # Quantidade de municipios por regiao

regiao
Brasil             85
Centro-Oeste     5663
Nordeste        32901
Norte            9661
Sudeste         28993
Sul             18613
dtype: int64